@font-face {
  font-family: "iconfont"; /* Project id 3280399 */
  src: url('iconfont.woff2?t=1654952455152') format('woff2'),
       url('iconfont.woff?t=1654952455152') format('woff'),
       url('iconfont.ttf?t=1654952455152') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baiban1:before {
  content: "\e61f";
}

.icon-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-file-ppt:before {
  content: "\e7b9";
}

.icon-baiban:before {
  content: "\e697";
}

.icon-wendang:before {
  content: "\e63d";
}

.icon-jurassic_table:before {
  content: "\e6ac";
}

.icon-markdown:before {
  content: "\e624";
}

.icon-icon-test:before {
  content: "\e618";
}

.icon-biaodan:before {
  content: "\e727";
}

.icon-liuchengtu:before {
  content: "\e603";
}

.icon-flowChart:before {
  content: "\e640";
}

.icon-icon:before {
  content: "\e64f";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-shuanglieliebiao:before {
  content: "\e6e5";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-wenjianjia:before {
  content: "\e600";
}

