@font-face {
  font-family: "iconfont"; /* Project id 4522907 */
  src: url('iconfont.woff2?t=1718592753024') format('woff2'),
       url('iconfont.woff?t=1718592753024') format('woff'),
       url('iconfont.ttf?t=1718592753024') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-siweidaotu1:before {
  content: "\e609";
}

.icon-shoucang1:before {
  content: "\e607";
}

.icon-recover:before {
  content: "\e60d";
}

.icon-chedishanchu:before {
  content: "\e639";
}

.icon-quxiaoshoucang:before {
  content: "\e6bd";
}

.icon-guanbi:before {
  content: "\e606";
}

.icon-shoucang:before {
  content: "\e604";
}

.icon-icmore:before {
  content: "\e62f";
}

.icon-gengduo:before {
  content: "\e626";
}

.icon-zitiyulan:before {
  content: "\ec86";
}

.icon-zhongmingming:before {
  content: "\e63b";
}

.icon-shanchu:before {
  content: "\e605";
}

.icon-a-yidong2:before {
  content: "\ea64";
}

.icon-paixu:before {
  content: "\e603";
}

.icon-wushuju:before {
  content: "\e642";
}

.icon-guolv:before {
  content: "\e64c";
}

.icon-cuowu:before {
  content: "\e6bb";
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-shuanglieliebiao:before {
  content: "\e6e5";
}

.icon-wenjianjia1:before {
  content: "\e602";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-jia:before {
  content: "\e8e1";
}

.icon-wenjianjia:before {
  content: "\e601";
}

.icon-denglu-copy:before {
  content: "\e63a";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-preview24:before {
  content: "\e7c1";
}

.icon-markdown:before {
  content: "\e7e5";
}

.icon-baiban:before {
  content: "\e61f";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-resume-line:before {
  content: "\e64a";
}

.icon-icon:before {
  content: "\e600";
}

.icon-flowChart:before {
  content: "\e640";
}

.icon-siweidaotu:before {
  content: "\e706";
}

